/* Pour pouvoir utiliser une hauteur (height) ou une hauteur minimale
   (min-height) sur un bloc, il faut que son parent direct ait lui-même une
   hauteur déterminée (donc toute valeur de height sauf "auto": hauteur en
   pixels, em, autres unités...).
   Si la hauteur du parent est en pourcentage, elle se réfère alors à la
   hauteur du «grand-père», et ainsi de suite.
   Pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous faut:
   - un parent (body) en "height: 100%";
   - le parent de body également en "height: 100%". */



html{
	background:#505D6E url(../Autres/img1.jpg) no-repeat center center fixed;
	min-height:100%;
	opacity: 0.7;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

body{
	background:transparent;
	min-height:100%;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:14px;
	font-family: Helvetica, Arial, sans-serif;
	color:#fff;
	color:rgba(255,255,255,.8);
	font-weight: normal;
}


h1 {
    color: #1E90FF;
}


#barreMenu {
	/* on centre le menu dans la page */
  text-align: center;
	color: black;
	font-weight: bold;
	padding: 0;
	margin: 0;
	list-style: none;
}

#barreMenu, #barreMenu ul{
	padding : 0; /* pas de marge intérieure */
	margin : 0; /* ni extérieure */
	list-style : none; /* on supprime le style par défaut de la liste */
	line-height : 21px; /* on définit une hauteur pour chaque élément */
	text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#barreMenu li {
	/* on place les liens du menu horizontalement */
	display: inline-block;
	position: relative;
	width: 15em;
}

#barreMenu ul li {
	/* on enlève ce comportement pour les liens du sous menu */
  display: inherit;
	border-radius: 0;
}

#barreMenu a {
	/*on enlève la décoration des liens pour qu'ils soient identiques au reste du menu*/
  text-decoration: none;
  display: block;
	color: black;
}

#barreMenu ul {
	/*on cache les chamsp nécessaires et on aligne en haut*/
	position:absolute;
	z-index: 1000;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;

	/*transitions animées*/
	-moz-transition: .8s all .1s;
	-webkit-transition: .8s all .1s;
	transition: .8s all .1s;
}

#barreMenu ul li:hover{
border-radius:0;
}

#barreMenu li:hover ul {
	max-height:15em;
}

#barreMenu ul a{
padding:8px 0;
}

#barreMenu li:hover li a{
color: black;
text-transform:inherit;
}

#barreMenu li:first-child, li:nth-child(2), li:nth-child(3), li:nth-child(4), li:last-child{
background-color: #fff;
text-transform:inherit;
}

* {
	padding:0
}

html {height: 98%}

#wrap {
	position: relative;
	margin-top: 3em;
}

#main {
  overflow:auto;
  padding-bottom: 150px;
}

#headerDroite{
	text-align: right;
	float : right;
}

#headerGauche{
	text-align: left;
}

footer {
    position: relative;
		text-align: center;
    clear:both;
    margin-top: -150px;
    height: 150px;
}
