.messageBienvenue h2{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  text-align: center;
  color : white;
}

.mesGroupes h3{
  text-align: center;
}

.mesGroupes a{
  padding-left: 0.7em;
}

.mesGroupes{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-top: 0.5%;
  padding-bottom: 1%;
  padding-left: 1em;
  width: 60%;
  color : white;
}

.mesGroupes img{
  width: 2.5em;
  height: 2.5em;
}

.conteneur2 img{
  width: 2.5em;
  height: 2.5em;
}

.mesGroupes table{
  margin-bottom: 1em;
}

.evenementsGroupe{
  font-size: 0.8em;
}

.pasDeGroupe{
  color: white;
  text-align: center;
}

.calendrierEvents{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 1em;
}

.evenements{
  color: white;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  width: 60%;
}

.evenements h3{
  text-align: center;
}


.evenements table{
  margin: auto;
  font-size: 2em;
}

.calendrier{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-top: 0.5%;
  padding-bottom: 1.5%;
  width: 34%;
  height: auto;
  color : white;
}


.calendrier table{
  margin: auto;
  border-collapse: collapse;
}

.year{
  text-align: center;
  font-weight: bold;
}

.calendrier table thead{
  font-weight: normal;
}

.calendrier table td{
  border: 1px solid;
  border-color: white;
  width: 3em;
  height: 3em;
}

.calendrier table td:hover{
  background: white;
  cursor:pointer;
  color : black;
  border-color: white;
}

.calendrier table td.padding{
  background: inherit;
  cursor: inherit;
  border: 0px solid;
  width: 3em;
  height: 3em;
}

.day, .today{
  text-align: right;
  vertical-align: bottom;
  padding-right: 0.1em;
}

.today{
  font-weight: bold;
  color: red;
}

table th{
  font-weight:normal;
  color:#A8A8A8;
}

table td .daytitle{
  display:none;
}

table td .events{
  position:relative;
  height:0px;
  margin:-39px 0px 0px;
  padding:0px;
}

table td .events li{
  width: 6px;
  height: 6px;
  float:left;
  background: red;
  -moz-border-radius:10px;
    -webkit-border-radius:10px;
      -khtml-border-radius:10px;
  border-radius:10px 10px 10px 10px;
  margin-left:3px; overflow:hidden;
  text-indent:-3000px;
}

.months li{
  display: inline;
}

.months ul{
  text-align: center;
  padding: 0;
}

.conteneur2{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.suggestionSports{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-top: 0.5%;
  padding-bottom: 1%;
  width: 45%;
  height: auto;
  color : white;
}

.suggestionSports h3{
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
}

.suggestionSports table{
  margin: auto;
}

.suggestionGroupes{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-top: 0.5%;
  padding-bottom: 1%;
  width: 45%;
  height: auto;
  color: white;
}

.suggestionGroupes h3{
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
}

.suggestionGroupes table{
  margin: auto;
}

.notifications{
  margin: auto;
  background-color: rgba(192, 192, 225, 0.8);
  border-radius: 1em;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 80%;
  height: auto;
  margin-bottom: 1em;
}

.notifications table td{
  padding-right: 1em;
}

.notifications h3{
  text-align: center;
  color: black;
}

.notifications table{
  margin: auto;
}

h3{
  color : rgba(255, 255, 215, 1);
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: grey;
}
