.mesGroupes a, h3{
  text-decoration: none;
  color : white;
  padding-left: 10px;
}

.mesGroupes{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  padding-top: 1px;
  padding-bottom: 10px;
  width: 14em;
  height: auto;
}

.mesEvenements a, h3{
  text-decoration: none;
  text-align: center;
  color : white;
  padding-left: 10px;
}

.mesEvenements{
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  width: 30em;
  height: auto;

}
.conteneur{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;;
}
