.formulaireAjoutClub{
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 50%;
  color : white;
}

.formulaireAjoutClub a{
  text-decoration: none;
  color: white;
}

.formulaireAjoutClub a:hover{
  color: grey;
}

.ChampAjoutClub table{
  margin: auto;
}

.horaireAjoutClub table{
  margin: auto;
  text-align: left;
}
