.conteneurVueAdmin{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
}

.adminMembresVueAdmin, .adminGroupesVueAdmin, .adminClubsVueAdmin, .adminGeneraleVueAdmin{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 22%;
}

.vueAdmin a{
  text-decoration: none;
  color: white;
}

.vueAdmin a:hover{
  color: grey;
}

.formsVueAdmin{
  margin: auto;
  margin-top : 1em;
  text-align: center;
  padding: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 50%;
}

.formsVueAdmin table{
  margin: auto;
}

.formsVueAdmin table td{
  text-align: left;
}

#form1 img, #form2 img{
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

#form5 img, #form7 img{
  width: 2.5em;
  height: 2.5em;
}

#form8 img, #form9 img, #form10 img, #form11 img{
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
}
