.messageBienvenue h2{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  text-align: center;
  color : white;
}

.mesGroupes h3{
  color : white;
  text-align: center;
}

.mesGroupes a{
  padding-left: 0.7em;
}

.mesGroupes{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-top: 0.5%;
  padding-bottom: 1%;
  width: 15em;
  height: auto;
}

.pasDeGroupe{
  color: white;
  text-align: center;
}

.calendrierEvents{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 1em;
}

.evenements{
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  width: 55%;
}

.evenements h3{
  color : white;
  text-align: center;
}

.calendrier{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-top: 0.5%;
  padding-bottom: 1.5%;
  width: 36%;
  height: auto;
  color : white;
}


.calendrier table{
  margin: auto;
  border-collapse: collapse;
}

.calendrier table td{
  border: 1px solid;
  width: 3em;
  height: 3em;
}

.calendrier table td:hover{
  background: white;
  color: black;
  cursor:pointer;
}

.calendrier table td.padding{
  background: inherit;
  cursor: inherit;
  border: 0px solid;
  width: 3em;
  height: 3em;
}

.calendrier table thead{
  font-weight: normal;
}

.year{
  text-align: center;
  font-weight: bold;
}

.day, .today{
  text-align: right;
  vertical-align: bottom;
  padding-right: 0.1em;
}

.today{
  font-weight: bold;
  color: red;
}

table th{
  font-weight:normal;
  color:#A8A8A8;
}

table td .daytitle{
  display:none;
}

table td:hover .daytitle{
  display: inherit;
}

table td .events{
  position:relative;
  height:0px;
  margin:-39px 0px 0px;
  padding:0px;
}

table td .events li{
  width:10px;
  height:10px;
  float:left;
  background: red;
  -moz-border-radius:10px;
    -webkit-border-radius:10px;
      -khtml-border-radius:10px;
  border-radius:10px 10px 10px 10px;
  margin-left:6px; overflow:hidden;
  text-indent:-3000px;
}

.months li{
  display: inline;
}

.months ul{
  text-align: center;
  padding: 0;
}
