.titreCategorieForum{
  background-color: rgba(245, 245, 225, 0.8);
  width: 60%;
  color : black;
  text-align: center;
  margin: auto;
  border-radius: 1em;
}


.conteneurCategorieForum{
  margin: auto;
  border-radius: 1em;
  padding-top: 0.5%;
  padding-bottom: 1%;
  padding-left: 1em;
  width: 90%;
}

.conteneurCategorieForum table{
  margin: auto;
  border-collapse:separate;
  margin-bottom: 1.5em;
  background-color: rgba(245, 245, 225, 0.8);
  width: 60em;
}

.conteneurCategorieForum table td{
  margin: 1em;
}

.titreCategorieCategorieForum, .nomSujetCategorieForum{
  width: 50%;
}

.nomSujetCategorieForum{
  padding-top: 0.5em;
}

.nomSujetCategorieForum a{
  color: black;
}

.nomAuteurDateCategorieForum{
  padding-left: 1.5em;
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}

.dernierMessageCategorieForum{
  width: 40%;
}

.enTeteCategorieForum th{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.enTeteCategorieForum th a{
  color: white;
}

.nbrReponsesCategorieForum, .nbrVuesCategorieForum{
  text-align: center;
}

.conteneurCategorieForum a{
  text-decoration: none;
}

.dernierMessageAuteurCategorieForum a{
  text-decoration: none;
  color: red;
}

.dernierMessageDateCategorieForum{
  padding-left: 1.5em;
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}

.boutonNouveauSujetCategorieForum{
  background-color: rgba(245, 245, 225, 0.8);
  border-radius: 1em;
  width: 13em;
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: auto;
  margin-bottom: 1em;

}

.nomAuteurDateCategorieForum a{
  text-decoration: none;
  color: red;
}

.boutonNouveauSujetCategorieForum a{
  text-decoration: none;
  color: black;
}
