.formulaireVueCreationGroupe{
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 30%;
}

.formulaireVueCreationGroupe table {
  margin: auto;
}

.formulaireVueCreationGroupe h2, form{
  color : white;
}

.formulaireVueCreationGroupe a{
  text-decoration: none;
  color: white;
}

.formulaireVueCreationGroupe a:hover{
  color: grey;
}
