.titre{
  background-color: rgba(245, 245, 225, 0.8);
  width: 60%;
  color : black;
  text-align: center;
  margin: auto;
  border-radius: 1em;
}


.conteneur{
  margin: auto;
  border-radius: 1em;
  padding-top: 0.5%;
  padding-bottom: 1%;
  padding-left: 1em;
  width: 90%;
}

.conteneur table{
  margin: auto;
  border-collapse:separate;
  margin-bottom: 1.5em;
  background-color: rgba(245, 245, 225, 0.8);
}

.conteneur table td{
  margin: 1em;
}

.titreCategorie, .nomSujet{
  width: 50%;
}

.nomSujet{
  padding-top: 0.5em;
}

.nomSujet a{
  color: black;
}

.nomAuteurDate{
  padding-left: 1.5em;
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}

.dernierMessage{
  width: 30%;
}

.enTete th{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.enTete th a{
  color: white;
}

.nbrReponses, .nbrVues, .dernierMessage{
  text-align: center;
}

.conteneur a{
  text-decoration: none;
}

.boutonNouveauSujet{
  background-color: rgba(245, 245, 225, 0.8);
  border-radius: 1em;
  width: 13em;
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: auto;
  margin-bottom: 1em;

}

.nomAuteurDate a{
  text-decoration: none;
  color: red;
}

.boutonNouveauSujet a{
  text-decoration: none;
  color: black;
}
