.creationEvenementVueEvenement{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 35%;
}

.creationEvenementVueEvenement h2, .creationEvenementVueEvenement form{
  color : white;
}

.creationEvenementVueEvenement a{
  text-decoration: none;
  color: white;
}

.creationEvenementVueEvenement a:hover{
  color: grey;
}
