.clubVueClub img{
	width: 20em;
	height: auto;
}

.clubVueClub{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  color : white;
}

.horairesVueClub table td{
  text-align: left;
}

.horairesVueClub{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.commentairesVueClub{
	padding-top: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.derniersVueClub, .piresVueClub, .meilleursVueClub{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	color : white;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 1em;
	width: 30%;
}

.derniersVueClub a, .piresVueClub a, .meilleursVueClub a{
	color : rgba(255, 255, 215, 1);
}

.infosCommentaireVueClub{
	color: rgba(255, 255, 215, 1);
}

.noterCommenterVueClub{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	color : white;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 1em;
	width: 50%;
	text-align: center;
}

.FormulaireVueClub{
	padding-top: 1em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}


.ratingVueClub {
	width: 226px;
	margin: 0 auto 1em;
	font-size: 45px;
	overflow:hidden;
}

.ratingVueClub input {
float: right;
opacity: 0;
position: absolute;
}

.ratingVueClub a,
.ratingVueClub label {
	float:right;
	color: #aaa;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
}

.ratingVueClub label:hover ~ label,
.ratingVueClub input:focus ~ label,
.ratingVueClub label:hover,
.ratingVueClub a:hover,
.ratingVueClub a:hover ~ a,
.ratingVueClub a:focus,
.ratingVueClub a:focus ~ a		{
	color: orange;
	cursor: pointer;
}

.conteneurVueClub th{
	text-align: left;
}

.conteneurVueClub textarea{
	font-size: 14px;
	height: 100px;
	width: 70%;
}

.conteneurVueClub a{
  text-decoration: none;
  color: white;
}

.conteneurVueClub a:hover{
  color: grey;
}
