.titreVueCreationSujet{
  background-color: rgba(245, 245, 225, 0.8);
  width: 60%;
  color : black;
  text-align: center;
  margin: auto;
  border-radius: 1em;
}

.formulaireVueCreationSujet{
  margin: auto;
  padding: 1em;
  background-color: rgba(245, 245, 225, 0.8);
  width: 40%;
  text-align: center;
  border-radius: 1em;
}
