.club img{
	width: 20em;
	height: auto;
}

.club{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1em;
  color : white;
}

.horaires table td{
  text-align: left;
}

.horaires{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
