.club img{
	width: 20em;
	height: auto;
}

.club{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  color : white;
}

.horaires table td{
  text-align: left;
}

.horaires{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.commentaires{
	padding-top: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.derniers, .pires, .meilleurs{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	color : white;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 1em;
	width: 30%;
}

.derniers a, .pires a, .meilleurs a{
	color : rgba(255, 255, 215, 1);
}

.infosCommentaire{
	color: rgba(255, 255, 215, 1);
}

.noterCommenter{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	color : white;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 1em;
	width: 50%;
	text-align: center;
}

.Formulaire{
	padding-top: 1em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}


.rating {
	width: 226px;
	margin: 0 auto 1em;
	font-size: 45px;
	overflow:hidden;
}

.rating input {
float: right;
opacity: 0;
position: absolute;
}

.rating a,
.rating label {
	float:right;
	color: #aaa;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
	color: orange;
	cursor: pointer;
}

th{
	text-align: left;
}

textarea{
	font-size: 14px;
	height: 100px;
	width: 70%;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: grey;
}
