.groupes{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 75%;
}

.groupes h2, a, table{
  color : white;
}

.groupes td{
  padding-right: 50px;
  padding-bottom: 1em;
}
