.groupesVueGroupes{
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 80%;
}

.groupesVueGroupes h2, .groupesVueGroupes a, .groupesVueGroupes table{
  color : white;
}

.groupesVueGroupes td{
  padding-right: 50px;
  padding-bottom: 1em;
}

.groupesVueGroupes img{
  width: 2.5em;
  height: 2.5em;
}

.groupesVueGroupes a{
  text-decoration: none;
  color: white;
}

.groupesVueGroupes a:hover{
  color: grey;
}
