.groupes{
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 80%;
}

.groupes h2, a, table{
  color : white;
}

.groupes td{
  padding-right: 50px;
  padding-bottom: 1em;
}

.groupes img{
  width: 2.5em;
  height: 2.5em;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: grey;
}
