.evenementsVueGroupe td{
  padding-right: 30px;
  color: white;
}

.imageSportVueGroupe img{
  margin: 1em;
  width: 60%;
  height: 60%;
}

.infosVueGroupe{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}


.nomEtDescriptionVueGroupe, .infosGeneralesVueGroupe, .actionsGroupeVueGroupe{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 30%;
  text-align: center;
}

.infosGeneralesVueGroupe{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 30%;
  text-align: center;
  margin-top: 1em;
}

.nomEtDescriptionVueGroupe h2{
  font-size: 2em;
}

.nomEtDescriptionVueGroupe p{
  font-size: 1.2em;
}

.infosVueGroupe b{
  color: rgba(255, 255, 215, 1);
}

.mesEvenementsVueGroupe, .evenementsGroupeVueGroupe{
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  text-align: center;
}

.mesEvenementsVueGroupe table, .evenementsGroupeVueGroupe table{
  margin: auto;
}

.imageSportVueGroupe{
  width: 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  border-radius: 50%;
}

.groupeVueGroupe a{
  text-decoration: none;
  color: white;
}

.groupeVueGroupe a:hover{
  color: grey;
}

.reseauxVueGroupe{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.twitterVueGroupe{
  padding-left: 1em;
}

.facebookVueGroupe{
  padding-right: 1em;
}
