.evenements td{
  padding-right: 30px;
  color: white;
}

.imageSport img{
  margin: 1em;
  width: 60%;
  height: 60%;
}

.infos{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}


.nomEtDescription, .infosGenerales, .actionsGroupe{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 30%;
  text-align: center;
}

.infosGenerales{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 30%;
  text-align: center;
  margin-top: 1em;
}

.nomEtDescription h2{
  font-size: 2em;
}

.nomEtDescription p{
  font-size: 1.2em;
}

.infos b{
  color: rgba(255, 255, 215, 1);
}

.mesEvenements, .evenementsGroupe{
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  text-align: center;
}

.mesEvenements table, .evenementsGroupe table{
  margin: auto;
}

.imageSport{
  width: 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  border-radius: 50%;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: grey;
}

.reseaux{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.twitter{
  padding-left: 1em;
}

.facebook{
  padding-right: 1em;
}
