.inscriptionVueInscription{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  border-radius: 1em;
}

.inscriptionVueInscription a{
  text-decoration: none;
  color: white;
}

.inscriptionVueInscription a:hover{
  color: grey;
}
