.mesGroupes{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 58%;
}

.mesGroupes a, h2, table{
  color : white;
}


.mesGroupes td{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right:40px;
}

.mesGroupes img{
  width: 2.5em;
  height: 2.5em;
}
