.conteneur{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 30%;
  text-decoration: none;
  color : white;
}

.Mesinfos{
  padding-left: 20px;
}

.Mescoordonnees{
  padding-left: 20px;
}

.Adresse{
  padding-left: 20px;
}

.MdP{
  padding-left: 20px;
}

.conteneur img{
  width: 10em;
  height: 10em;
  border-radius: 15em;
}
