.mesGroupes{
  text-align: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 80%;
}

.mesGroupes a, h2, table{
  color : white;
}

.mesGroupes table{
  margin: auto;
}


.mesGroupes td{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right:40px;
}

.mesGroupes img{
  width: 2.5em;
  height: 2.5em;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: grey;
}
