.titreMessagerie{
  margin: auto;
  text-align: center;
  background-color: rgba(245, 245, 225, 0.8);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 30%;
  margin-bottom: 3em;
}

.nouvelleConversationMessagerie{
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: rgba(245, 245, 225, 0.8);
  width: 20%;
  margin: auto;
  border-radius: 1em;
  margin-bottom: 1em;
}

.nouvelleConversationMessagerie a{
  text-decoration: none;
  color: black;
}

.nouvelleConversationMessagerie a:hover{
  text-decoration: none;
  color: grey;
}

.conversationsMessagerie{
  background-color: rgba(245, 245, 225, 0.8);
  padding: 1em;
  border-radius: 1em;
  width: 60%;
  margin: auto;
}

.conversationsMessagerie h3{
  text-align: center;
}

.conversationsMessagerie a{
  text-decoration: none;
  color: black;
}

.conversationsMessagerie a:hover{
  color: grey;
}

.conversationsMessagerie table{
  margin: auto;
}

.dernierMessageConversation{
  font-size: 0.9em;
  font-style: italic;
  color: grey;
  padding-bottom: 1em;
}

.photoAmi{
  width: 5%
}

.photoAmi img{
  border-radius: 50%;
  width: 4em;
  height:4em;
}

.amiConversation{
  width: 95%;
  text-align: left;
}
