.mesGroupes{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1em;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 58%;
}

.mesGroupes a, h2, table{
  text-decoration: none;
  color : white;
}


.mesGroupes td{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right:40px;
}
