.infosGenerales{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.maPhoto, .conteneurPseudo, .mesSports{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 30%;
}

.pseudo{
  font-size: 5em;
}

.pseudo p{
  text-align: center;
}

.maPhoto p{
  text-align: center;
}

.maPhoto img{
  border: 8px solid #fff;
  display: block;
  width: 13em;
  height: 13em;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.maPhoto img:hover{
  cursor: pointer;
}

.mesInfos{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.mesInfos h2, h3, .infosGenerales h2{
  text-align: center;
}

.General, .monAdresse, .mesCoordonnees, .modifs{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 22%;
}

.conteneur{
  color : white;
}


.mesSports table{
  margin: auto;
  color: white;
}

.mesSports td{
  padding-bottom: 1em;
}

#form2, #form3, #form4{
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  margin: auto;
  width: 33%;
}

.ajoutSport{
  text-align: center;
  font-weight: bold;
}
