.infosGeneralesVueProfil{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.maPhotoVueProfil, .conteneurPseudoVueProfil, .mesSportsVueProfil{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 30%;
}

.pseudoVueProfil{
  font-size: 5em;
}

.pseudoVueProfil p{
  text-align: center;
}

.maPhotoVueProfil p{
  text-align: center;
}

.maPhotoVueProfil img{
  border: 8px solid #fff;
  display: block;
  width: 13em;
  height: 13em;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.maPhotoVueProfil img:hover{
  cursor: pointer;
}

.mesInfosVueProfil{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.mesInfosVueProfil h2, .mesInfosVueProfil h3, .infosGeneralesVueProfil h2{
  text-align: center;
}

.GeneralVueProfil, .monAdresseVueProfil, .mesCoordonneesVueProfil, .modifsVueProfil{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 22%;
}

.conteneurVueProfil{
  color : white;
}

.conteneur2VueProfil{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.mesGroupesVueProfil{
  border-radius: 1em;
  text-align: center;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
  width: 30%;
}

.mesGroupesVueProfil table{
  margin: auto;
}

.mesGroupesVueProfil img{
  width: 2.5em;
  height: 2.5em;
}


.mesSportsVueProfil table{
  margin: auto;
  color: white;
}

.mesSportsVueProfil td{
  padding-bottom: 1em;
}

.formsProfil #form2, .formsProfil #form3, .formsProfil #form4{
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  margin: auto;
  width: 33%;
}

.ajoutSportVueProfil{
  text-align: center;
  font-weight: bold;
}

.profilVueProfil a{
  text-decoration: none;
  color: white;
}

.profilVueProfil a:hover{
  color: grey;
}
