.conteneur{
  border-radius: 1em;
  padding-top: 2px;
  padding-bottom: 10px;
}

.resultats{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.resultatGroupes, .resultatMembres, .resultatClubs{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 30%;
  margin-bottom: auto;
}

.resultats table{
  margin : auto;
}

.resultats table td{
  padding-top: 1em;
  padding-bottom: 1.6em;
}

.resultats td{
  text-align: center;
}

.resultatGroupes td{
  padding-right: 1em;
}

.conteneur h2, h3, table, a{
  text-decoration: none;
  color : white;
}

.conteneur a:hover{
  color: grey;
}

.conteneur h2{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
}

.resultatMembres img{
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
