.conteneur{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 45%;
  color : white;
  margin: auto;
}

.jeRecherche{
  text-align: center;
}

.jeRecherche table{
  margin: auto;
}

.jeRecherche table td{
  padding-right: 1.5em;
}

.forms{
  margin-top: 1em;
}

.forms p{
  text-align: center;
}

.forms table{
  margin: auto;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: grey;
}
