.conteneurResultatsRecherche{
  border-radius: 1em;
  padding-top: 2px;
  padding-bottom: 10px;
}

.resultatsResultatsRecherche{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.resultatGroupesResultatsRecherche, .resultatClubsResultatsRecherche{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 35%;
  margin-bottom: auto;
}

.resultatMembresResultatsRecherche{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 20%;
  margin-bottom: auto;
}

.resultatGroupesResultatsRecherche img{
  width: 2.5em;
  height: 2.5em;
}

.resultatsResultatsRecherche table{
  margin : auto;
}

.resultatsResultatsRecherche table td{
  padding-top: 1em;
  padding-bottom: 1.6em;
}

.resultatsResultatsRecherche td{
  text-align: center;
}

.resultatGroupesResultatsRecherche td{
  padding-right: 1em;
}

.conteneurResultatsRecherche h2, .conteneurResultatsRecherche h3, .conteneurResultatsRecherche table, .conteneurResultatsRecherche a{
  text-decoration: none;
  color : white;
}

.conteneurResultatsRecherche h2{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
}

.resultatMembresResultatsRecherche img{
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.resultatsRecherche a{
  text-decoration: none;
  color: white;
}

.resultatsRecherche a:hover{
  color: grey;
}
