.conteneurResultatsRechercheVueResultatsRecherche{
  border-radius: 1em;
  padding-top: 2px;
  padding-bottom: 10px;
}

.resultatsResultatsRechercheVueResultatsRecherche{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.resultatGroupesResultatsRechercheVueResultatsRecherche, .resultatClubsResultatsRechercheVueResultatsRecherche{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 35%;
  margin-bottom: auto;
}

.resultatMembresResultatsRechercheVueResultatsRecherche{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 20%;
  margin-bottom: auto;
}

.resultatGroupesResultatsRechercheVueResultatsRecherche img{
  width: 2.5em;
  height: 2.5em;
}

.resultatsResultatsRechercheVueResultatsRecherche table{
  margin : auto;
}

.resultatsResultatsRechercheVueResultatsRecherche table td{
  padding-top: 1em;
  padding-bottom: 1.6em;
}

.resultatsResultatsRechercheVueResultatsRecherche td{
  text-align: center;
}

.resultatGroupesResultatsRechercheVueResultatsRecherche td{
  padding-right: 1em;
}

.conteneurResultatsRechercheVueResultatsRecherche h2, .conteneurResultatsRechercheVueResultatsRecherche h3, .conteneurResultatsRechercheVueResultatsRecherche table, .conteneurResultatsRechercheVueResultatsRecherche a{
  text-decoration: none;
  color : white;
}

.conteneurResultatsRechercheVueResultatsRecherche h2{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
}

.resultatMembresResultatsRechercheVueResultatsRecherche img{
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.resultatsRechercheVueResultatsRecherche a{
  text-decoration: none;
  color: white;
}

.resultatsRechercheVueResultatsRecherche a:hover{
  color: grey;
}
