.conteneurVueRechercheAvancee{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 45%;
  color : white;
  margin: auto;
}

.jeRechercheVueRechercheAvancee{
  text-align: center;
}

.jeRechercheVueRechercheAvancee table{
  margin: auto;
}

.jeRechercheVueRechercheAvancee table td{
  padding-right: 1.5em;
}

.formsRechercheAvancee{
  margin-top: 1em;
}

.formsRechercheAvancee p{
  text-align: center;
}

.formsRechercheAvancee table{
  margin: auto;
}

.conteneurVueRechercheAvancee a{
  text-decoration: none;
  color: white;
}

.conteneurVueRechercheAvancee a:hover{
  color: grey;
}
