.conteneurVueRechAvanceeClubs{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color : white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  width: 60%;
  margin: auto;
}

.conteneurVueRechAvanceeClubs table{
  margin: auto;
}

.conteneurVueRechAvanceeClubs h2{
  text-align: center;
}

.conteneurVueRechAvanceeClubs img{
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%
}

.conteneurVueRechAvanceeClubs td{
  padding-right: 1em;
}

.conteneurVueRechAvanceeClubs a{
  text-decoration: none;
  color: white;
}

.conteneurVueRechAvanceeClubs a:hover{
  color: grey;
}
