.conteneurVueSujetForum img{
  width: 6em;
  height: 6em;
  border-radius: 50%
}

.detailsSujetVueSujetForum{
  margin: auto;
}

.photoMembreSujetVueSujetForum{
  text-align: center;
  width: 30%;
  height: 10em;
  border-right: 1px solid;
}

.enTeteSujetTopVueSujetForum, .enTeteSujetVueSujetForum{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.enTeteSujetVueSujetForum td{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.enTeteSujetTopVueSujetForum td{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.dateActionsVueSujetForum{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dateActionsVueSujetForum a{
  text-decoration: none;
  color: white;
}

.dateActionsVueSujetForum a:hover{
  color: grey;
  text-decoration: underline;
}

.conteneurVueSujetForum table{
  border-collapse: collapse;
  width: 60em;
}

.messageVueSujetForum{
  width: 70%;
}

.messageVueSujetForum td{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.conteneurVueSujetForum{
  padding: 0.1em;
  margin: auto;
  width: 60em;
  background-color: rgba(245, 245, 225, 0.8);
  margin-bottom: 1em;
}

.conteneur2VueSujetForum{
  padding-top: 1em;
  text-align: center;
  background-color: rgba(245, 245, 225, 0.8);
  width: 30em;
  margin: auto;
  border-radius: 1em;
}
