.clubs{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  color : white;
}

.clubs a:hover{
  text-decoration: none;
  color: grey;
}

.clubs a{
  text-decoration: none;
  color: white;
}
